.sidebar {
  width: 30%;
  float: right;
  background-color: red;
  border: 5px solid crimson;
  padding: 5px;
  margin: 15px;
}

.sidebar ul {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
}

img {
  float: left;
  padding: 10px;
}